---
export interface Props {
    classes?: string;
    id?: string;
    img?: string;
    alt?: string;
    iconColor?: string;
}

const { classes, id, img, alt, iconColor = "black" } = Astro.props;
---

<button id={id} class:list={[classes]}>
    <slot />

    {img && (
        <div
            class="icon"
            style={`background-color: ${iconColor}; -webkit-mask-image: url(${img}); mask-image: url(${img});`}
            role="img"
            aria-label={alt}
        />
    )}
</button>

<style>
    @reference "../styles/global.css";
    @reference "tailwindcss";

    button {
        @apply py-4 px-4 rounded-2xl transition-all duration-300 ease-in active:px-6;

        .icon {
            @apply w-12 h-12;
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center;
            mask-position: center;
        }
    }
</style>